/* Fonts */
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans.ttf);
}

@font-face {
  font-family: OpenSans-Thin;
  src: url(../fonts/OpenSans-Thin.ttf);
}



/* Body */
body {
  font-family: OpenSans;
  font-size: 14px;

  color: #595959;
  background-color: #fff;

  margin: 0px;
}



/*
**
** Menu Bar Items
**
*/
/* Menu Button */
#menu-btn {
  font-size: 20px;
}


/* Navbar */
#navbar {
  font-family: OpenSans-Thin;
  font-size: 18px;

  width: 100%;

  background-color: #f2f2f2;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

  margin-bottom: 10px;
}

/* Navbar Selected */
#navbar a#current {
  background-color: #54378d;
}

#navbar a#current:link, #navbar a#current:visited {
  color: #fff;
}

#navbar a#current:hover {
  color: #1a1a1a;
}

#navbar a#current:active {
  color: #000;
}

/* Navbar Unselected */
#navbar a {
  text-decoration: none;
  padding: 10px 20px 10px 20px;

  display: inline-block;
}

#navbar a:link, #navbar a:visited {
  color: #999;
}

#navbar a:hover {
  color: #1a1a1a;
}

#navbar a:active {
  color: #000;
}


/* Side Panel Items */
#menubars {
  height: 100%;
  position: absolute;

  z-index: 1;
}

[id^='menubar_'] {
  font-family: OpenSans-Thin;
  font-size: 18px;

  height: 100%;
  width: 292px;

  left: -300px;

  background-color: #f2f2f2;
  -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);

  margin: -9px 0px 0px 0px;

  position:fixed;

  -webkit-transition: left .15s;
  transition: left .15s ease-in-out;
}

[id^='menubar_'] ul {
  color: #595959;

  font-weight: bold;
  font-size: 16px;

  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

[id^='menubar_'] ul li {
  padding: 15px 5px 15px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin: 0px 7px 0px 10px;

  -webkit-transition: padding .15s, margin .15s;
  transition: padding .15s ease-in-out, margin .15s ease-in-out;
}

[id^='menubar_'] ul li:hover {
  color: #fff;
  background-color: #54378d;

  padding: 15px 12px 15px 20px;
  margin: 0px;
}

[id^='menubar_'] .header {
  color: #333;
  background-color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
  font-family: OpenSans;

  padding: 0px 5px 0px 5px;
  margin-top: 25px;

  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/*
**
** Chat Tab
**
*/
#page_chat {
  position: absolute;
  height: calc(100% - 58px);
  width: 100%;
}

form#chat-form {
    display: inline-block;
    width: 100%;

    padding-top: 4px;

    -moz-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}

#chat-box {
  padding: 0px 10px 10px 10px;
  height: calc(100% - 100px);

  word-wrap: break-word;
  overflow: auto;
}

#message-box {
  padding: 0px 10px 10px 10px;
  width: calc(100% - 34px);
  clear: both;
  margin: 0px 6px 0px 6px;
  display: inline-block;
  resize: none;
}

textarea[disabled] {
  background-color: #ddd;
}

#chat-btn {
  background-color: #54378d;
  color: #fff;

  font-weight: bold;

  margin: 5px 6px 0px 0px;
  padding: 7px 35px 7px 35px;
  display: inline-block;
  border: 0;
  clear:both;
  float: right;
}
